input {
    width: 300px;
}

.app_body {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 90vh;
    justify-content: space-around;
    align-items: center;
}

.header {
    color: rgb(7, 7, 75);
}