input {
    width: 600px;
}

button {
    width: 150px;
}

.app_body {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 90vh;
    justify-content: flex-start;
    align-items: center;
}

.main_header {
    width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
}

.module_head {
    width: 158px;
}

.table_head {
    width: 200px;
}


div.ui.huge {
    color: #0c264d;
    font-family: 'Archivo Narrow', sans-serif;
}

.input_btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
}