input {
    width: 600px;
}

button {
    width: 150px;
}

.app_body {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    
}

.main_header {
    width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 50px;
}

.module_head {
    width: 250px;
}

.table_head {
    width: 250px;
}


div.ui.huge {
    color: #0c264d;
    font-family: 'Archivo Narrow', sans-serif;
}

.input_btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.filter_dropdown {
    margin: 5px auto 0 0;
    width: 300px;
}

@media(max-width: 700px) {

    /* input {
        max-width: 500px;
        min-width: 200px;
    }

    button {
        max-width: 150px;
        min-width: 90px;
    } */
}